# This is a minimal service definition to make use of the systemd socket activation in the e2e tests.
# With systemd socket activation, systemd sets up a listening socket on behalf of a service.
# This is useful for zero downtime deployments as the systemd sockets hold up the connections while the service is restarting.

[Unit]
Requires=poseidon.socket

[Service]
WorkingDirectory=${GITHUB_WORKSPACE}
ExecStart=${GITHUB_WORKSPACE}/poseidon
EnvironmentFile=${GITHUB_WORKSPACE}/.env

Restart=always
StartLimitBurst=0

Type=notify
WatchdogSec=5
