# Project binary
/poseidon

# Configuration file
configuration.yaml
tests/e2e/configuration.yaml

# Ansible configuration
deploy/ansible/configuration.yaml
deploy/ansible/inventory-staging.yaml
deploy/ansible/inventory-production.yaml

# TLS certificate/key
*.crt
*.key
*.pem

# trivy artifacts
.trivy
