# Project binary
/poseidon

# Configuration file
configuration.yaml
tests/e2e/configuration.yaml

# Ansible configuration
deploy/ansible/staging/configuration.yaml
deploy/ansible/staging/inventory.yaml
deploy/ansible/production/inventory.yaml

# TLS certificate/key
*.crt
*.key
*.pem

# trivy artifacts
.trivy
