server:
  address: 127.0.0.1
  port: 3000
  # If set, this token is required in the X-Poseidon-Token header for each route except /health
  token: SECRET
  tls: false
  certfile: ./poseidon.crt
  keyfile: ./poseidon.key
nomad:
  address: http://127.0.0.1:4646
  token: SECRET
  tls: false
logger:
  level: INFO
