# Ignore the generated json encoded dashboard.
main.json

# Ignore the current environments required for generating the dashboard.
environments.json

# Ignore the Grafana dashboard deployment files.
dashboards/
